@import url("./_overrides.scss");
@import url("./_fonts.scss");

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
}

section {
  position: relative;
  &:nth-child(odd) {
    background-color: grey;
  }
  &:nth-child(even) {
    background-color: silver;
  }

  h3 {
    font-size: 2rem;
    color: #b8d432;
  }
  h5 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 77px;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    small {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
}

.quarter_logo {
  z-index: 2;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.infected {
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.overlay-content {
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #45b5aa;
    display: block;
    transition: 0.3s;
    font-weight: 500;
  }
  a:hover,
  a:focus {
    color: #7ee1d6;
  }
}

main {
  height: 100vh;
}

.turquoise {
  background-color: #45b5aa;
}


@import url("./sections/hero.scss");
@import url("./sections/aboutus.scss");
@import url("./sections/video.scss");
@import url("./sections/instagram.scss");
@import url("./sections/services.scss");
@import url("./sections/work.scss");
@import url("./sections/getstarted.scss");
@import url("./sections/insight.scss");
@import url("./sections/whyclients.scss");
@import url("./sections/blog.scss");
@import url("./sections/news.scss");
@import url("./sections/ourteam.scss");
@import url("./sections/contact.scss");
@import url("./sections/address.scss");
@import url("./sections/footer.scss");
@import url("./_media.scss");
