

footer {
    background-color: #313131;
    font-size: 0.7rem;
    font-weight: lighter;
    line-height: 1.8;

    h6 {
      font-weight: bold;
      font-size: 16px;

      span {
        color: #B9D500;
      }
    }

    .social {
      font-size: 1.3em;
    }

    form .form-control {
      font-size: 1em;
    }
    
  }