section#getstarted {
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;

    .btn.btn-success {
      background-color: #B8D432;
    }

    .btn.btn-danger {
      background-color: #DB4949;
    }
  }
