
section#instagram {
}

section#instagram .mobile {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 70%;
  min-height:50vh;
}

section#instagram .text {
  background-position: 100% -100%;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height:50vh;
}